*{
    box-sizing: border-box;
}
h1 {
    width: 80vw;
    height: 10vh;
    background-color: blueviolet;
    text-align: center;
}

.panel {
    padding: 10px;
    border: 2px solid red;
}
.text {
    font-size: 30px;
    color: coral;
    background-color: crimson;
    width: 80vw;
    height: 10vh;
    text-align: right;
    padding: 25px;
}

.new-text {
    font-size: 30px;
    color: rgb(223, 247, 7);
    background-color: rgb(20, 220, 63);
    width: 80vw;
    text-align: left;
    padding: 25px;
}

.title {
    font-size: 50px;
    color: rgb(223, 247, 7);
    background-color: rgb(6, 95, 26);
    padding: 25px;
}